In [1]:
import pandas as pd

In [18]:
# Load the Excel file
data = pd.read_csv("World_Data.csv")

# Replace blank or NaN values with None (interpreted as NULL in SQL)
data = data.where(pd.notnull(data), None)

In [20]:
print(data)

                   Country      Continent    Population  Total_Cases  \
0                      USA  North America  3.311981e+08      5032179
1                   Brazil  South America  2.127107e+08      2917562
2                    India           Asia  1.381345e+09      2025409
3                   Russia         Europe  1.459409e+08       871894
4             South Africa         Africa  5.938157e+07       538184
..                     ...            ...           ...          ...
204             Montserrat  North America  4.992000e+03           13
205  Caribbean Netherlands  North America  2.624700e+04           13
206       Falkland Islands  South America  3.489000e+03           13
207           Vatican City         Europe  8.010000e+02           12
208         Western Sahara         Africa  5.986820e+05           10

     Unnamed: 4  Total_Deaths  Unnamed: 6  Total_Recovered  Unnamed: 8  \
0           NaN      162804.0         NaN        2576668.0         NaN
1           NaN       98644.0         NaN        2047660.0         NaN
2           NaN       41638.0         NaN        1377384.0         NaN
3           NaN       14606.0         NaN         676357.0         NaN
4           NaN        9604.0         NaN         387316.0         NaN
..          ...           ...         ...              ...         ...
204         NaN           1.0         NaN             10.0         NaN
205         NaN           NaN         NaN              7.0         NaN
206         NaN           NaN         NaN             13.0         NaN
207         NaN           NaN         NaN             12.0         NaN
208         NaN           1.0         NaN              8.0         NaN

     Active_Cases  Critical  Tot Cases/1M pop  Deaths/1M pop  Total_Tests
0       2292707.0   18296.0           15194.0          492.0   63139605.0
1        771258.0    8318.0           13716.0          464.0   13206188.0
2        606387.0    8944.0            1466.0           30.0   22149351.0
3        180931.0    2300.0            5974.0          100.0   29716907.0
4        141264.0     539.0            9063.0          162.0    3149807.0
..            ...       ...               ...            ...          ...
204           2.0       NaN            2604.0          200.0         61.0
205           6.0       NaN             495.0            NaN        424.0
206           0.0       NaN            3726.0            NaN       1816.0
207           0.0       NaN           14981.0            NaN          NaN
208           1.0       NaN              17.0            2.0          NaN

[209 rows x 14 columns]

In [24]:
# Replace NaN or None values with "NULL" in the DataFrame
data = data.fillna("NULL")

# Save the processed data to Excel
data.to_excel("Processed_World_Data.xlsx", index=False)

In [26]:
# Load the Excel file
data2 = pd.read_csv("Country_Data.csv")

# Replace blank or NaN values with None (interpreted as NULL in SQL)
data2 = data2.where(pd.notnull(data), None)

In [28]:
# Replace NaN or None values with "NULL" in the DataFrame
data2 = data2.fillna("NULL")

# Save the processed data to Excel
data2.to_excel("Processed_Country_Data.xlsx", index=False)